<h1>Edit Person</h1>

<%= form_with(model: @people, local: true) do |f| %>

<p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
</p>
<p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
</p>
<p>
    <%= f.label :assessment_count %><br>
    <%= f.text_field :assessment_count %>
</p>


<p>
    <%= f.submit %>
</p>
<% end %>


